<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript">
	  WebFontConfig = {
	    google: { families: [ 'Roboto::latin' ] }
	  };
	  (function() {
	    var wf = document.createElement('script');
	    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	    wf.type = 'text/javascript';
	    wf.async = 'true';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(wf, s);
	  })();
  </script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="/css/screen.css"/>
	<title>DevineRoulette - {{title}}</title>
	{{{_sections.header}}}
</head>
<body>
	<div class="container">
		<header>
			<h1>Devine Roulette</h1>
		</header>
		{{{body}}}
	</div>
	{{{_sections.scripts}}}
</body>
</html>
