{{#section "header"}}
{{/section}}

<canvas id="compare" width="640" height="480" class="display-none"></canvas>

<header>
    <div id="title" class="gametitle">
        <h1>Cosmic Race</h1>
    </div>
</header>

<article id="game">
    <header><h2><span>The game</span></h2></header>
    <div class="webcam">
			<div><video id="webcamPreview" autoplay loop width="210" height="160" style="width: 210px"></video></div>
    </div>
    <div id="countdown"></div>
    <div id="tips">"klap in je handen om de laser af te vuren"</div>
    <section id="scoreboard">
        <div class="scoreinfo">
            <header><h2><span>scoreboard</span></h2></header>
            <div id="score" class="left">
                <p>Score<br/><span id="lblScore">9999</span></p>
            </div>
            <div id="time" class="right">
                <p>Tijd<br/><span id="lblTime">00: 30</span></p>
            </div>
        </div>
        <a href="./" id="btnback" class="left"><span>btnBack</span></a>
        <a href="#" id="btninfo" class="right"><span>btnInfo</span></a>
    </section>

    <svg xmlns="http://www.w3.org/2000/svg"
		 	 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
		 	 width="100%" height="100%" viewport="0 0 100% 100%">
			<title></title>
			<desc></desc>
		</svg>

		<figure id="rocket"><img src="images/rocket1.png" alt="rocket"></figure>

</article>

<footer>&nbsp;</footer>

{{#section "scripts"}}
	<!--<script src="/socket.io/socket.io.js"></script>-->
	<script src="js/vendor.js"></script>
	<script src="js/app.js"></script>
{{/section}}
