{{#section "header"}}
{{/section}}

<canvas id="compare" width="640" height="480" class="display-none"></canvas>

<header>
    <div id="title">
        <h1>Cosmic Race</h1>
    </div>
</header>

<article id="start">
    <header><h2><span>The Game</span></h2></header>
    <section class="left" id="infolist">
        <header><h2><span>info</span></h2></header>
        <ul class="left">
            <li><span id="list_1">1</span></li>
            <li><span id="list_2">2</span></li>
        </ul>
        <div class="dot1">&nbsp;</div>
        <div class="dot2">&nbsp;</div>
        <ul class="right">
            <li><p>Schakel je webcam &amp;</br> microfoon aan</p></li>
            <li><p>Druk op start om het<br/>spel te starten.</p></li>
        </ul>
        <a id="btnstart" class="disabled" href="start.html">Start het spel!</a>
    </section>
    <section class="right" id="rockets">
        <header><h2><span>webcam and tutorial</span></h2></header>
        <section>
            <header><h2><span>webcam</span></h2></header>
                <div class="webcam">
										<video id="webcamPreview" autoplay loop muted="muted" width="367" height="265" style="width: 367px"></video>
                    <figure><span id="light" class="red">&nbsp;</span><img src="images/helmet.png" alt="helmet"></figure>
                    <figure><img src="images/rocket1.png" alt="rocket"></figure>
                </div>
        </section>
        <section class="tutorial">
            <header><h2><span>tutorial</span></h2></header>
            <div id="tuttext">
                <div class="left">
                    <p>Beweeg heen en weer om de raket te besturen</p>
                </div>
                <div class="right">
                    <p>Klap om de laser te activeren</p>
                </div>
                <div class="lines">&nbsp;</div>
                <div class="iphone">&nbsp;</div>
                <div class="target">&nbsp;</div>
                <div class="question">&nbsp;</div>
            </div>
        </section>
    </section>
</article>

<footer>&nbsp;</footer>

{{#section "scripts"}}
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/vendor.js"></script>
	<script src="js/index.js"></script>
{{/section}}
