video {
	width: 506px;
	height: 380px;
}

#label {
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	background-color: #ffad33;
	padding: 5px 10px;
	font-size: 1.5em;
}

#container{
	border: solid 1px #000;
}
