#connect {
	box-sizing: border-box;
	display: block;
	font-size: 2em;
	height: 40px;
	border: 1px solid #000;
	padding: 8px;
	margin-left: 10px;
	width: 94px;
	text-decoration: none;
}

.disabled {
	opacity: .3;
}
